body {
    font-family: roboto-regular;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align:left;
}

p {
    margin-bottom: 40px;
    text-align:left;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    margin-left: 20px;
}

.card img {
    width: 100px;
    margin-bottom: 20px;
}
.card:hover{
    background:grey;
}
